.box {
    border: 1px solid #1d1e28;
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.tos {
    text-align: center !important;
    background: #7289da !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.tos .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}
  
.tos .text {
    font-size: 20px !important;
    color: white;
    font-weight: bold;
}

.tos .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.containercontainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}